<form
  class="form-horizontal"
  autocomplete="off"
  #createOrderLineForm="ngForm"
  (ngSubmit)="save()"
>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Add Item To Order</h1>
    <p class="lead">Select items and their amounts to be added to the order</p>
  </div>
</div>
<section>
  <div class="input-group">
    <div class="input-group-prepend">
      <button
        type="button"
        class="btn bg-blue"

      >
        <i class="fas fa-search"></i>
      </button>
    </div>
    <input
      type="text"
      class="form-control"
      name="keyword"
      [placeholder]="'SearchWithThreeDot' | localize"
      [(ngModel)]="searchText"
    />
    <div class="input-group-append">
      <button
        type="button"
        class="btn btn-default"

      >
        <i
          class="fas"

        ></i>
      </button>
    </div>
  </div>
</section>

<section>
  <div class="form-group row required">
    <label class="col-md-3 col-form-label" for="name">
      {{ "Menu Items" | localize }}
    </label>
    <div class="card-body table-responsive p-1">
      <table class="table table-hover text-nowrap" [busy]="loading == true">
        <thead class="bg-light">
          <tr>
            <th>{{ "Id" | localize }}</th>
            <th>{{ "Menu Item" | localize }}</th>
            <th>{{ "Description" | localize }}</th>
            <th>{{ "Price" | localize}}</th>
            <th style="width: 100px;">{{ "Qty" | localize }}</th>
            <th>{{"Line Amount"}}</th>
            <th style="width: 200px;">{{ "Actions" | localize }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let x of menuItems
                | paginate
                  : {
                      id: 'server',
                      itemsPerPage: menuItems.length,
                      currentPage: 1,
                      totalItems: menuItems.length
                    }
                    | grdFilter: {id: searchText, menuItemName:searchText
                      , menuItemDescription:searchText}
            "
          >
            <td>{{ x.id }}</td>
            <td>{{ x.menuItemName }}</td>
            <td>{{ x.menuItemDescription}}</td>
            <td>
              {{x.menuItemPriceIdFkNavigation.menuItemPrice1 | currency:'R '}}
            </td>
            <td>
                <input
                  type="number"
                  class="form-control"
                  name="qty{{x.id}}"
                  id="qty{{x.id}}"
                  maxlength="128"
                  required
                  min="0"
                  required
                  #qty
                  [(ngModel)]="x.itemQty"
                />

            </td>
            <td id="total{{x.id}}">
              {{x.menuItemPriceIdFkNavigation.menuItemPrice1 * x.itemQty | currency:'R '}}
            </td>
            <td>
              <button
                type="button"
                class="btn btn-sm bg-primary mx-2"
                id="add{{x.id}}"
                (click)="addItem(x, x.itemQty)"
              >
                <i class="fas fa-plus"></i>
                {{ "Add To Order" | localize }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<section>
  <label class="col-md-3 col-form-label" for="ol">
    {{ "Items Added To Order" | localize }}
  </label>
  <div class="card-body table-responsive p-0">
    <table class="table table-hover text-nowrap" [busy]="loading == true">
      <thead class="bg-light">
        <tr>
          <th>{{ "Id" | localize }}</th>
          <th>{{ "Menu Item" | localize }}</th>
          <th>{{ "Description" | localize }}</th>
          <th>{{ "Price" | localize}}</th>
          <th style="width: 100px;">{{ "Qty" | localize }}</th>
          <th>{{"Line Amount"}}</th>
          <th style="width: 200px;">{{ "Actions" | localize }}</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let y of lineAmounts
              | paginate
                : {
                    id: 'server',
                    itemsPerPage: lineAmounts.length,
                    currentPage: 1,
                    totalItems: lineAmounts.length
                  }
                  | grdFilter: {id: searchText, menuItemName:searchText
                    , menuItemDescription:searchText}
          "
        >
          <td>{{ y.menuItem.id }}</td>
          <td>{{ y.menuItem.menuItemName }}</td>
          <td>{{ y.menuItem.menuItemDescription}}</td>
          <td>
            {{y.menuItem.menuItemPriceIdFkNavigation.menuItemPrice1 | currency:'R '}}
          </td>
          <td>
            {{y.itemQty}}
          </td>
          <td id="total{{y.id}}">
            {{y.total | currency:'R '}}
          </td>
          <td>
            <button
              type="button"
              class="btn btn-sm bg-primary mx-2"
              (click)="removeItem(y)"
            >
              <i class="fas fa-plus"></i>
              {{ "Remove From Order" | localize }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

</form>
    <!--
<div class="form-group row">
      <label class="col-md-3 col-form-label" for="connectionString">
        {{ "DatabaseConnectionString" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="connectionString"
          id="connectionString"
          maxlength="1024"
          [(ngModel)]="orderLine.connectionString"
        />
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="tenancyName">
        {{ "Id" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="tenancyName"
          id="tenancyName"
          minlength="2"
          maxlength="64"
          required
          [(ngModel)]="orderLine.id"
          #tenancyNameModel="ngModel"
          #tenancyNameEl
        />
        <abp-validation-summary
          [control]="tenancyNameModel"
          [controlEl]="tenancyNameEl"
        ></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="adminEmailAddress">
        {{ "AdminEmailAddress" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="email"
          class="form-control"
          name="adminEmailAddress"
          id="adminEmailAddress"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$"
          maxlength="256"
          required
          [(ngModel)]="orderLine.adminEmailAddress"
          #adminEmailAddressModel="ngModel"
          #adminEmailAddressEl
        />
        <abp-validation-summary
          [control]="adminEmailAddressModel"
          [controlEl]="adminEmailAddressEl"
        ></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label">
        {{ "IsActive" | localize }}
      </label>
      <div class="col-md-9">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            name="isActive"
            id="isActive"
            [(ngModel)]="orderLine.isActive"
          />
          <label class="custom-control-label mt-2" for="isActive"></label>
        </div>
      </div>
    </div>
    <p class="text-center text-info mb-0">
      {{ "DefaultPasswordIs" | localize: "123qwe" }}
    </p>

    -->


